.postMakerContainer{
    display: grid;
   grid-template-columns: 8fr 2fr;

}


.postMakerContainer button{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    font-size: 30px ;
    opacity: 0.7;
    border: none;
    background: #87cefa;
    cursor: pointer;
    color: black;
}

.postMakerContainer button:hover{
    background: #6495ed;
    transition: 0.3s;
}

.postMakerContainer > div{

    margin-right: 5px;
    padding: 7px;
    box-sizing: border-box;

}

.postMakerContainer > div input[type="text"]{
    box-sizing: border-box;
    height: 35px;
    width: 100%;
    border: 2px solid #87cefa;
    border-radius: 15px;
    font-size: 20px;
    padding: 15px;

}

.postMakerContainer > div input[type="text"]:focus{
    border: none;
}