.main{

}

.menuBody{
    height: 100%;
    width: 45px;
    background: lightskyblue;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.3s;
    margin-right: 10px;
    box-shadow: 5px 0px 9px 0px rgba(50, 50, 50, 0.50);

}

.menuBurger{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    margin-bottom: 10px;


}

.burger{
    height: 100%;
    width: 44px;
    position: relative;
    content: "";
    padding: 0;
    cursor: pointer;


}


.burger span::before,
.burger span,
.burger span::after{
    text-align: left;
    position: absolute;
    content: "";
    height: 4px;
    width: 40px;
    background: black;
    border-radius: 4px;
    transition: 0.3s;
}

.burger span{
    top: 22px;
    left: 2px;
}
.burger span::before{
    transition: 0.3s;
    top: -12px;
}

.burger span::after{
    transition: 0.3s;
    top: 12px;
}

.menuItems div a{
    color: black;
    text-decoration: none;
    font-size: 25px;

}

.menuItems div {
    margin-left: 45px;

}

.menuItems{
    padding-bottom: 20px;
}



.profile a::before{
    display: block;
    position: relative;
    content: "";
    background-image: url("../../img/user.svg");
    height: 25px;
    width: 25px;
    left: -35px;
    top: 23px;

}

.message{

}
.message a::before{
    display: block;
    position: relative;
    content: "";
    background-image: url("../../img/message.svg");
    height: 25px;
    width: 25px;
    left: -35px;
    top: 23px;
}
.news a::before{
    display: block;
    position: relative;
    content: "";
    background-image: url("../../img/news.svg");
    height: 25px;
    width: 25px;
    left: -35px;
    top: 23px;
}

.settings a::before{
    display: block;
    position: relative;
    content: "";
    background-image: url("../../img/settings (1).svg");
    height: 25px;
    width: 25px;
    left: -35px;
    top: 23px;
}
.music a::before{
    display: block;
    position: relative;
    content: "";
    background-image: url("../../img/music.svg");
    height: 25px;
    width: 25px;
    left: -35px;
    top: 23px;
}


.burger.active span {
    background: lightskyblue;
    transform: translateX(150px);
    transition: 0.3s;
}

.burger.active span::after{

    transition: 0.3s;
    top:0;
    transform:rotate(-45deg);

}

.burger.active span::before{
    transition: 0.3s;
    top:0;
    transform: rotate(45deg);


}

.menuBody.active{
    width: 200px;
}

.menuBurger .active{

}